This dataset provides an in-depth look at the profitability of e-commerce sales. It contains data on a variety of sales channels, including Shiprocket and INCREFF, as well as financial information on related expenses and profits. The columns contain data such as SKU codes, design numbers, stock levels, product categories, sizes and colors. In addition to this we have included the MRPs across multiple stores like Ajio MRP , Amazon MRP , Amazon FBA MRP , Flipkart MRP , Limeroad MRP Myntra MRP and PaytmMRP along with other key parameters like amount paid by customer for the purchase , rate per piece for every individual transaction Also we have added transactional parameters like Date of sale months category fulfilledby B2b Status Qty Currency Gross amt . This is a must-have dataset for anyone trying to uncover the profitability of e-commerce sales in today's marketplace

The following steps help users make the most out of this dataset:

Analyze the general sales trends by examining info such as month, category, currency, stock level, and customer for each sale. This will give you an idea about how your e-commerce business is performing in each channel.

Review the Shiprocket and INCREF data to compare and analyze profitability via different fulfilment methods. This comparison would enable you to make better decisions towards maximizing profit while minimizing costs associated with each method’s referral fees and fulfillment rates.

Compare prices between various channels such as Amazon FBA MRP, Myntra MRP, Ajio MRP etc using  the corresponding columns for each store (Amazon MRP etc). You can judge which stores are offering more profitable margins without compromising on quality by analyzing these pricing points in combination with other information related to product sales (TP1/TP2 - cost per piece).

Look at customer specific data such as TP 1/TP 2 combination wise Gross Amount or Rate info in terms price per piece or total gross amount generated by any SKU dispersed over multiple customers with relevant dates associated to track individual item performance relative to others within its category over time periods shortlisted/filtered appropriately.. Have an eye on items commonly utilized against offers or promotional discounts offered hence crafting strategies towards inventory optimization leading up-selling operations.?

Finally Use Overall ‘Stock’ details along all the P & L Data including Yearly Expenses_IIGF information record for takeaways which might be aimed towards essential cost cutting measures like switching amongst delivery options carefully chosen out of Shiprocket & INCREFF leadings away from manual inspections catering savings under support personnel outsourcing structures.?  

By employing a comprehensive understanding on how our internal subsidiaries perform globally unless attached respective audits may provide us remarkably lower operational costs servicing confidence; costing far lesser than being incurred taking into account entire pallet shipments tracking sheets representing current level supply chains efficiencies achieved internally., then one may finally scale profits exponentially increases cut down unseen losses followed up introducing newer marketing campaigns necessarily tailored according playing around multiple goods based spectrums due powerful backing suitable transportation boundaries set carefully

### Column name	Description
Shiprocket	This column contains data related to the profitability of e-commerce sales through Shiprocket. (Numeric)

INCREFF	This column contains data related to the profitability of e-commerce sales through INCREFF. (Numeric)

# Sale Report.csv

Column name	Description
1. SKU Code	Unique identifier for each product. (String)
2. Design No.	Unique identifier for each design. (String)
3. Stock	Number of items in stock. (Integer)
4. Category	Type of product. (String)
5. Size	Size of the product. (String)
6. Color	Color of the product. (String)

# File: P & L March 2021.csv

Column name	Description
1. Category	Type of product. (String)
2. Sku	Unique identifier for each product. (String)
3. Catalog	Category of product. (String)
4. Weight	Weight of the product. (Integer)
5. TP 1	Price of the product on the first third-party platform. (Integer)
6. TP 2	Price of the product on the second third-party platform. (Integer)
7. MRP Old	Original price of the product. (Integer)
8. Final MRP Old	Final price of the product after discounts. (Integer)
9. Ajio MRP	Price of the product on Ajio. (Integer)
10. Amazon MRP	Price of the product on Amazon. (Integer)
11. Amazon FBA MRP	Price of the product on Amazon FBA. (Integer)
12. Flipkart MRP	Price of the product on Flipkart. (Integer)
13. Limeroad MRP	Price of the product on Limeroad. (Integer)
14. Myntra MRP	Price of the product on Myntra. (Integer)
15. Paytm MRP	Price of the product on Paytm. (Integer)
16. Snapdeal MRP	Price of the product on Snapdeal. (Integer)

# May-2022.csv

Column name	Description
1. Sku	Unique identifier for each product. (String)
2. Catalog	Category of product. (String)
3. Category	Type of product. (String)
4. Weight	Weight of the product. (Integer)
5. MRP Old	Original price of the product. (Integer)
6. Final MRP Old	Final price of the product after discounts. (Integer)
7. Ajio MRP	Price of the product on Ajio. (Integer)
8. Amazon MRP	Price of the product on Amazon. (Integer)
9. Amazon FBA MRP	Price of the product on Amazon FBA. (Integer)
10. Flipkart MRP	Price of the product on Flipkart. (Integer)
11. Limeroad MRP	Price of the product on Limeroad. (Integer)
12. Myntra MRP	Price of the product on Myntra. (Integer)
13. Paytm MRP	Price of the product on Paytm. (Integer)
14. Snapdeal MRP	Price of the product on Snapdeal. (Integer)
15. TP 1 & TP 2 MRP Old	Original price of the product. (Integer)

# Amazon Sale Report.csv

Column name	Description
1. Category	Type of product. (String)
2. Size	Size of the product. (String)
3. Date	Date of the sale. (Date)
4. Status	Status of the sale. (String)
5. Fulfilment	Method of fulfilment. (String)
6. Style	Style of the product. (String)
7. SKU	Stock Keeping Unit. (String)
8. ASIN	Amazon Standard Identification Number. (String)
9. Courier Status	Status of the courier. (String)
10. Qty	Quantity of the product. (Integer)
11. Amount	Amount of the sale. (Float)
12. B2B	Business to business sale. (Boolean)
13. Currency	The currency used for the sale. (String)

## International sale Report.csv

Column name	Description
1. Style	Style of the product. (String)
2. SKU	Stock Keeping Unit. (String)
3. Size	Size of the product. (String)
4. DATE	Date of the sale. (Date)
5. Months	Month of the sale. (String)
6. CUSTOMER	Name of the customer. (String)
7. PCS	Number of pieces sold. (Integer)
8. RATE	Price per piece. (Float)
9. GROSS AMT	Total amount of the sale. (Float)

step:- 1 Understand the business problem 

step:- 2 Collect and load data ( local , cloude , database ) 

step:- 3  Cleaning and data - preprocessing 

step:- 4 data analysis using various techinques 

step:- 5 Data visulazation 

step:- 6 reports ( pdf, mail , etc ) 

step:- 7 submit the reposts

# Load Libraries:-

In [1]:
import pandas as pd # data -cleaning , data-preprocessing ( Data Handling and Manupulation ) 
import numpy as np # numerical operation 
import statistics as s  # 
from scipy import stats # statistical operation
import seaborn as sns # visulazation 
import matplotlib.pyplot as plt # visulazation

# load data

In [6]:
amazon_sales = pd.read_csv("Amazon Sale Report.csv") 
amazon_sales.head()

C:\Users\Global 6\AppData\Local\Temp\ipykernel_2232\520026149.py:1: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  amazon_sales = pd.read_csv("Amazon Sale Report.csv")

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN

In [7]:
amazon_sales.iloc[10:50,:]

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
10,10,407-5633625-6970741,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3160,JNE3160-KR-G-S,kurta,...,INR,685.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN
11,11,171-4638481-6326716,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3500,JNE3500-KR-XS,kurta,...,INR,364.00,NOIDA,UTTAR PRADESH,201303.0,IN,NaN,False,NaN,NaN
12,12,405-5513694-8146768,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3405,JNE3405-KR-XS,kurta,...,INR,399.00,Amravati.,MAHARASHTRA,444606.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
13,13,408-7955685-3083534,04-30-22,Shipped,Amazon,Amazon.in,Expedited,SET182,SET182-KR-DH-XS,Set,...,INR,657.00,MUMBAI,MAHARASHTRA,400053.0,IN,NaN,False,NaN,NaN
14,14,408-1298370-1920302,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,J0351,J0351-SET-L,Set,...,INR,771.00,MUMBAI,MAHARASHTRA,400053.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
15,15,403-4965581-9520319,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,PJNE3368,PJNE3368-KR-6XL,kurta,...,INR,544.00,GUNTAKAL,ANDHRA PRADESH,515801.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
16,16,406-9379318-6555504,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3721,JNE3721-KR-XXL,kurta,...,INR,329.00,JAIPUR,RAJASTHAN,302020.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,NaN
17,17,405-9013803-8009918,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3405,JNE3405-KR-XL,kurta,...,INR,399.00,NEW DELHI,DELHI,110074.0,IN,NaN,False,NaN,NaN
18,18,402-4030358-5835511,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3697,JNE3697-KR-XXL,kurta,...,INR,458.00,Gurgaon,HARYANA,122004.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
19,19,405-5957858-1051546,04-30-22,Shipped,Amazon,Amazon.in,Expedited,SET254,SET254-KR-NP-XS,Set,...,INR,886.00,BENGALURU,KARNATAKA,560017.0,IN,NaN,False,NaN,NaN
20,20,405-0607769-0716360,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3795,JNE3795-KR-XXXL,kurta,...,INR,517.00,TIRUCHIRAPPALLI,TAMIL NADU,620018.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,NaN
21,21,404-8494550-5860325,04-30-22,Shipped,Amazon,Amazon.in,Expedited,SET345,SET345-KR-NP-M,Set,...,INR,666.00,BENGALURU,KARNATAKA,560040.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,NaN
22,22,171-1305077-2813934,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3373,JNE3373-KR-L,kurta,...,INR,376.00,HYDERABAD,TELANGANA,500072.0,IN,NaN,False,NaN,NaN
23,23,404-6019946-2909948,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET291,SET291-KR-PP-M,Set,...,INR,570.48,pune,MAHARASHTRA,411044.0,IN,NaN,False,Easy Ship,NaN
24,24,402-3384087-4005164,04-30-22,Shipped,Amazon,Amazon.in,Expedited,MEN5002,MEN5002-KR-L,kurta,...,INR,499.00,TEZPUR,ASSAM,784001.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,NaN
25,25,405-8191138-5176316,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,NW030,NW030-TP-PJ-XS,Set,...,INR,582.00,RANCHI,JHARKHAND,834002.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
26,26,403-9230474-9657916,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3415,JNE3415-KR-XXXL,kurta,...,INR,299.00,BILASPUR,CHHATTISGARH,495001.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
27,27,408-3484251-6901959,04-30-22,Shipped,Amazon,Amazon.in,Expedited,PJNE2199,PJNE2199-KR-N-4XL,kurta,...,INR,459.00,PUNE,MAHARASHTRA,411052.0,IN,NaN,False,NaN,NaN
28,28,405-7755803-4729935,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3567,JNE3567-KR-M,kurta,...,INR,399.00,BENGALURU,KARNATAKA,560037.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,NaN
29,29,404-5933402-8801952,04-30-22,Cancelled,Merchant,Amazon.in,Standard,JNE2132,JNE2132-KR-398-XXXL,kurta,...,NaN,NaN,GUWAHATI,ASSAM,781003.0,IN,NaN,False,Easy Ship,NaN
30,30,171-9040274-9291563,04-30-22,Shipped,Amazon,Amazon.in,Expedited,J0341,J0341-DR-S,Western Dress,...,INR,791.00,THIRUVARUR,TAMIL NADU,613704.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,NaN
31,31,403-7056319-0979561,04-30-22,Shipped,Amazon,Amazon.in,Expedited,MEN5009,MEN5009-KR-XL,kurta,...,INR,499.00,LUCKNOW,UTTAR PRADESH,226010.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,NaN
32,32,404-9632124-1107550,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,J0011,J0011-LCD-M,Set,...,INR,1233.00,VISAKHAPATNAM,ANDHRA PRADESH,530016.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
33,33,402-1465437-0579556,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3766,JNE3766-KR-M,kurta,...,INR,517.00,JEYPUR,ODISHA,764001.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
34,34,404-7774085-3780319,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3373,JNE3373-KR-XL,kurta,...,INR,376.00,HYDERABAD,TELANGANA,500028.0,IN,NaN,False,NaN,NaN
35,35,402-2764952-1492318,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,MEN5001,MEN5001-KR-XL,kurta,...,INR,499.00,LUCKNOW,UTTAR PRADESH,226016.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
36,36,406-0272200-7784379,04-30-22,Shipped,Amazon,Amazon.in,Expedited,SET345,SET345-KR-NP-L,Set,...,INR,666.00,CHENNAI,TAMIL NADU,600033.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,NaN
37,37,403-4367956-2849158,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3787,JNE3787-KR-S,kurta,...,INR,487.00,NEW DELHI,DELHI,110092.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,NaN
38,38,403-4367956-2849158,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3543,JNE3543-KR-S,kurta,...,INR,368.00,NEW DELHI,DELHI,110092.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,NaN
39,39,403-4242957-8599555,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3405,JNE3405-KR-L,kurta,...,INR,399.00,THIRUVANANTHAPURAM,KERALA,695011.0,IN,NaN,False,NaN,NaN
40,40,408-7165704-5643524,04-30-22,Shipped,Amazon,Amazon.in,Expedited,J0211,J0211-DR-XXL,Ethnic Dress,...,INR,699.00,GREATER NOIDA,UTTAR PRADESH,201306.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,NaN
41,41,402-8210765-3935569,04-30-22,Shipped,Amazon,Amazon.in,Expedited,J0401,J0401-DR-XXXL,Western Dress,...,INR,885.00,JABALPUR,MADHYA PRADESH,482002.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,NaN
42,42,406-7398201-3869914,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE2153,JNE2153-KR-278-A-M,kurta,...,INR,424.00,MUMBAI,MAHARASHTRA,400092.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
43,43,408-3478480-0881162,04-30-22,Shipped,Amazon,Amazon.in,Expedited,SET360,SET360-KR-NP-M,Set,...,INR,1126.00,LUCKNOW,UTTAR PRADESH,226017.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,NaN
44,44,402-7595162-9129931,04-30-22,Shipped,Amazon,Amazon.in,Expedited,SET268,SET268-KR-NP-L,Set,...,INR,788.00,MUMBAI,MAHARASHTRA,400076.0,IN,NaN,False,NaN,NaN
45,45,171-6876154-6233146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,SET183,SET183-KR-DH-S,Set,...,INR,759.00,KOLKATA,WEST BENGAL,700014.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,NaN
46,46,408-3917043-5314763,04-30-22,Shipped,Amazon,Amazon.in,Expedited,J0230,J0230-SKD-L,Set,...,INR,1146.00,ONGOLE,ANDHRA PRADESH,523001.0,IN,NaN,False,NaN,NaN
47,47,408-9281152-6213100,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3744,JNE3744-TU-S,Top,...,INR,665.00,SECUNDERABAD,TELANGANA,500017.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,NaN
48,48,403-3496411-3082707,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3510,JNE3510-KR-S,kurta,...,INR,429.00,HYDERABAD,TELANGANA,500062.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,NaN
49,49,171-9208368-0157156,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3405,JNE3405-KR-M,kurta,...,INR,399.00,KEWALPUR,UTTAR PRADESH,271881.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN

In [9]:
amazon_sales.transpose()

,0,1,2,3,4,5,6,7,8,9,...,128965,128966,128967,128968,128969,128970,128971,128972,128973,128974
index,0,1,2,3,4,5,6,7,8,9,...,128965,128966,128967,128968,128969,128970,128971,128972,128973,128974
Order ID,405-8078784-5731545,171-9198151-1101146,404-0687676-7273146,403-9615377-8133951,407-1069790-7240320,404-1490984-4578765,408-5748499-6859555,406-7807733-3785945,407-5443024-5233168,402-4393761-0311520,...,408-5154281-4593912,406-9812666-2474761,404-5182288-1653947,403-7059995-7618722,404-3802633-7250760,406-6001380-7673107,402-9551604-7544318,407-9547469-3152358,402-6184140-0545956,408-7436540-8728312
Date,04-30-22,04-30-22,04-30-22,04-30-22,04-30-22,04-30-22,04-30-22,04-30-22,04-30-22,04-30-22,...,05-31-22,05-31-22,05-31-22,05-31-22,05-31-22,05-31-22,05-31-22,05-31-22,05-31-22,05-31-22
Status,Cancelled,Shipped - Delivered to Buyer,Shipped,Cancelled,Shipped,Shipped,Shipped,Shipped - Delivered to Buyer,Cancelled,Shipped,...,Cancelled,Shipped,Cancelled,Shipped,Cancelled,Shipped,Shipped,Shipped,Shipped,Shipped
Fulfilment,Merchant,Merchant,Amazon,Merchant,Amazon,Amazon,Amazon,Merchant,Amazon,Amazon,...,Amazon,Amazon,Amazon,Amazon,Amazon,Amazon,Amazon,Amazon,Amazon,Amazon
Sales Channel,Amazon.in,Amazon.in,Amazon.in,Amazon.in,Amazon.in,Amazon.in,Amazon.in,Amazon.in,Amazon.in,Amazon.in,...,Amazon.in,Amazon.in,Amazon.in,Amazon.in,Amazon.in,Amazon.in,Amazon.in,Amazon.in,Amazon.in,Amazon.in
ship-service-level,Standard,Standard,Expedited,Standard,Expedited,Expedited,Expedited,Standard,Expedited,Expedited,...,Expedited,Expedited,Expedited,Expedited,Expedited,Expedited,Expedited,Expedited,Expedited,Expedited
Style,SET389,JNE3781,JNE3371,J0341,JNE3671,SET264,J0095,JNE3405,SET200,JNE3461,...,J0119,SET224,JNE3638,SET264,SET044,JNE3697,SET401,J0157,J0012,J0003
SKU,SET389-KR-NP-S,JNE3781-KR-XXXL,JNE3371-KR-XL,J0341-DR-L,JNE3671-TU-XXXL,SET264-KR-NP-XL,J0095-SET-L,JNE3405-KR-S,SET200-KR-NP-A-XXXL,JNE3461-KR-XXL,...,J0119-TP-XXXL,SET224-KR-NP-XS,JNE3638-KR-XS,SET264-KR-NP-XL,SET044-KR-NP-M,JNE3697-KR-XL,SET401-KR-NP-M,J0157-DR-XXL,J0012-SKD-XS,J0003-SET-S
Category,Set,kurta,kurta,Western Dress,Top,Set,Set,kurta,Set,kurta,...,Top,Set,kurta,Set,Set,kurta,Set,Western Dress,Set,Set
Size,S,3XL,XL,L,3XL,XL,L,S,3XL,XXL,...,3XL,XS,XS,XL,M,XL,M,XXL,XS,S
ASIN,B09KXVBD7Z,B09K3WFS32,B07WV4JV4D,B099NRCT7B,B098714BZP,B08YN7XDSG,B08CMHNWBN,B081WX4G4Q,B08L91ZZXN,B08B3XF5MH,...,B08RYPRVPV,B08MXDBRK1,B09814Q3QH,B08YN7XDSG,B07Q2RTSFB,B098112V2V,B09VC6KHX8,B0982YZ51B,B0894Y2NJQ,B0894X27FC
Courier Status,NaN,Shipped,Shipped,NaN,Shipped,Shipped,Shipped,Shipped,Cancelled,Shipped,...,Unshipped,Shipped,Cancelled,Shipped,Unshipped,Shipped,Shipped,Shipped,Shipped,Shipped
Qty,0,1,1,0,1,1,1,1,0,1,...,1,1,0,1,1,1,1,1,1,1
currency,INR,INR,INR,INR,INR,INR,INR,INR,NaN,INR,...,INR,INR,NaN,INR,INR,INR,INR,INR,INR,INR
Amount,647.62,406.0,329.0,753.33,574.0,824.0,653.0,399.0,NaN,363.0,...,574.0,1132.0,NaN,824.0,612.0,517.0,999.0,690.0,1199.0,696.0
ship-city,MUMBAI,BENGALURU,NAVI MUMBAI,PUDUCHERRY,CHENNAI,GHAZIABAD,CHANDIGARH,HYDERABAD,HYDERABAD,Chennai,...,Prayagraj (ALLAHABAD),CHENNAI 600042,Kolkata,Delhi,MUMBAI,HYDERABAD,GURUGRAM,HYDERABAD,Halol,Raipur
ship-state,MAHARASHTRA,KARNATAKA,MAHARASHTRA,PUDUCHERRY,TAMIL NADU,UTTAR PRADESH,CHANDIGARH,TELANGANA,TELANGANA,TAMIL NADU,...,UTTAR PRADESH,TAMIL NADU,WEST BENGAL,DELHI,MAHARASHTRA,TELANGANA,HARYANA,TELANGANA,Gujarat,CHHATTISGARH
ship-postal-code,400081.0,560085.0,410210.0,605008.0,600073.0,201102.0,160036.0,500032.0,500008.0,600041.0,...,211007.0,600042.0,700040.0,110053.0,400017.0,500013.0,122004.0,500049.0,389350.0,492014.0
ship-country,IN,IN,IN,IN,IN,IN,IN,IN,IN,IN,...,IN,IN,IN,IN,IN,IN,IN,IN,IN,IN
promotion-ids,NaN,Amazon PLCC Free-Financing Universal Merchant ...,IN Core Free Shipping 2015/04/08 23-48-5-108,NaN,NaN,IN Core Free Shipping 2015/04/08 23-48-5-108,IN Core Free Shipping 2015/04/08 23-48-5-108,Amazon PLCC Free-Financing Universal Merchant ...,IN Core Free Shipping 2015/04/08 23-48-5-108,NaN,...,NaN,NaN,NaN,IN Core Free Shipping 2015/04/08 23-48-5-108,NaN,NaN,IN Core Free Shipping 2015/04/08 23-48-5-108,NaN,IN Core Free Shipping 2015/04/08 23-48-5-108,IN Core Free Shipping 2015/04/08 23-48-5-108
B2B,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
fulfilled-by,Easy Ship,Easy Ship,NaN,Easy Ship,NaN,NaN,NaN,Easy Ship,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,False,False,False,False,False,False,False,False,False,False

In [8]:
amazon_sales.columns

Index(['index', 'Order ID', 'Date', 'Status', 'Fulfilment', 'Sales Channel ',
       'ship-service-level', 'Style', 'SKU', 'Category', 'Size', 'ASIN',
       'Courier Status', 'Qty', 'currency', 'Amount', 'ship-city',
       'ship-state', 'ship-postal-code', 'ship-country', 'promotion-ids',
       'B2B', 'fulfilled-by', 'Unnamed: 22'],
      dtype='object')

In [10]:
sales = pd.read_csv("Sale Report.csv") 
sales.head()

   index       SKU Code Design No.  Stock       Category Size Color
0      0    AN201-RED-L      AN201    5.0  AN : LEGGINGS    L   Red
1      1    AN201-RED-M      AN201    5.0  AN : LEGGINGS    M   Red
2      2    AN201-RED-S      AN201    3.0  AN : LEGGINGS    S   Red
3      3   AN201-RED-XL      AN201    6.0  AN : LEGGINGS   XL   Red
4      4  AN201-RED-XXL      AN201    3.0  AN : LEGGINGS  XXL   Red

In [11]:
cloud = pd.read_csv('Cloud Warehouse Compersion Chart.csv')
cloud.head()

,index,Shiprocket,Unnamed: 1,INCREFF
0,0,Heads,Price (Per Unit),Price (Per Unit)
1,1,Inbound (Fresh Stock and RTO),₹4.00,4
2,2,Outbound,₹7.00,11
3,3,Storage Fee/Cft,₹25.00,Rs 0.15/- Per Day
4,4,Customer Return with Detailed QC,₹6.00,15.5

In [12]:
internation = pd.read_csv("International sale Report.csv") 
internation.head()

,index,DATE,Months,CUSTOMER,Style,SKU,Size,PCS,RATE,GROSS AMT
0,0,06-05-21,Jun-21,REVATHY LOGANATHAN,MEN5004,MEN5004-KR-L,L,1.00,616.56,617.00
1,1,06-05-21,Jun-21,REVATHY LOGANATHAN,MEN5004,MEN5004-KR-XL,XL,1.00,616.56,617.00
2,2,06-05-21,Jun-21,REVATHY LOGANATHAN,MEN5004,MEN5004-KR-XXL,XXL,1.00,616.56,617.00
3,3,06-05-21,Jun-21,REVATHY LOGANATHAN,MEN5009,MEN5009-KR-L,L,1.00,616.56,617.00
4,4,06-05-21,Jun-21,REVATHY LOGANATHAN,MEN5011,MEN5011-KR-L,L,1.00,616.56,617.00

In [14]:
expense = pd.read_csv("Expense IIGF.csv") 
expense.head()

,index,Recived Amount,Unnamed: 1,Expance,Unnamed: 3
0,0,Particular,Amount,Particular,Amount
1,1,06-19-22,1000,Large Bag,380
2,2,06-20-22,1500,"Stationary(Soft Pin, Paper pin for Dupatta, Fe...",170
3,3,06-22-22,500,OLA,839
4,4,06-23-22,2000,Auto Rent,520

In [15]:
may = pd.read_csv("May-2022.csv") 
may.head()

,index,Sku,Style Id,Catalog,Category,Weight,TP,MRP Old,Final MRP Old,Ajio MRP,Amazon MRP,Amazon FBA MRP,Flipkart MRP,Limeroad MRP,Myntra MRP,Paytm MRP,Snapdeal MRP
0,0,Os206_3141_S,Os206_3141,Moments,Kurta,0.3,538,2178,2295,2295,2295,2295,2295,2295,2295,2295,2295
1,1,Os206_3141_M,Os206_3141,Moments,Kurta,0.3,538,2178,2295,2295,2295,2295,2295,2295,2295,2295,2295
2,2,Os206_3141_L,Os206_3141,Moments,Kurta,0.3,538,2178,2295,2295,2295,2295,2295,2295,2295,2295,2295
3,3,Os206_3141_XL,Os206_3141,Moments,Kurta,0.3,538,2178,2295,2295,2295,2295,2295,2295,2295,2295,2295
4,4,Os206_3141_2XL,Os206_3141,Moments,Kurta,0.3,538,2178,2295,2295,2295,2295,2295,2295,2295,2295,2295

In [16]:
P_L = pd.read_csv("P  L March 2021.csv")
P_L

,index,Sku,Style Id,Catalog,Category,Weight,TP 1,TP 2,MRP Old,Final MRP Old,Ajio MRP,Amazon MRP,Amazon FBA MRP,Flipkart MRP,Limeroad MRP,Myntra MRP,Paytm MRP,Snapdeal MRP
0,0,Os206_3141_S,Os206_3141,Moments,Kurta,0.3,538,435.78,2178,2295,2295,2295,2295,2295,2295,2295,2295,2295
1,1,Os206_3141_M,Os206_3141,Moments,Kurta,0.3,538,435.78,2178,2295,2295,2295,2295,2295,2295,2295,2295,2295
2,2,Os206_3141_L,Os206_3141,Moments,Kurta,0.3,538,435.78,2178,2295,2295,2295,2295,2295,2295,2295,2295,2295
3,3,Os206_3141_XL,Os206_3141,Moments,Kurta,0.3,538,435.78,2178,2295,2295,2295,2295,2295,2295,2295,2295,2295
4,4,Os206_3141_2XL,Os206_3141,Moments,Kurta,0.3,538,435.78,2178,2295,2295,2295,2295,2295,2295,2295,2295,2295
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1325,1325,Os326_M,Os326,Mix,Kurta,0.3,467,378.27,1878,1995,1995,1995,1995,1995,1995,1995,1995,1995
1326,1326,Os326_L,Os326,Mix,Kurta,0.3,467,378.27,1878,1995,1995,1995,1995,1995,1995,1995,1995,1995
1327,1327,Os326_XL,Os326,Mix,Kurta,0.3,467,378.27,1878,1995,1995,1995,1995,1995,1995,1995,1995,1995
1328,1328,Os326_2XL,Os326,Mix,Kurta,0.3,467,378.27,1878,1995,1995,1995,1995,1995,1995,1995,1995,1995
1329,1329,Os326_3XL,Os326,Mix,Kurta,0.3,467,378.27,1878,1995,1995,1995,1995,1995,1995,1995,1995,1995